@{
    ViewData["Title"] = "Página da Pessoa Estudante";
}

<div>
    <h1>Trybe</h1>
    <p>Olá, boas vindas @ViewData["StudentName"]</p>
    <p>Você faz parte da Turma @ViewData["ClassNumber"]</p>
</div>